img {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

button {
  appearance: none;
  background-color: white;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #1A1A1A;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;

}

button:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

button:active {
  box-shadow: none;
  transform: translateY(0);
}

#nightBtn {
    background-color: darkblue;
    color: white;
}

#dayBtn {
    background-color: yellow;
    color: #1A1A1A;
}

#allBtn {
    background-color: green;
    color: white;
}

#clearBtn {
    background-color: orange;
    color: white;
}